In [1]:
# solution 1) * , - , /, + are all mathematical operators which cannot be assigned to a particular variable
#therefore are called expressions whereas 'hello',-87.8 and 6 are all values which can be assigned to a vairable.

In [11]:
# solution2) A variable is just a name to which we can assign a value for instance integer or string etc  that can be
# manupulated or changed, for example a = "hello world" here a is a variable to which we have assigned a string as a value.
# string refers to anything be it numerical or alphabetical that you asssign to a variable using single or double 
# parenthesis is called string. in the above example the type(a) is str that is string, there a is the variable that we
# have declared a string by assigning value "hello world".

In [14]:
# solution3) the three of many different data types in python are:-
#1) numeric => 1.1) integers - it has positive or negative whole numbers but no decimal numbers.
#              1.2) float - it is real number with decimal for ex :- 10.2, 45.80 etc.
#              1.3) complex numbers - it is mix of real number and imaginary part for ex 2+5j, 3*2f etc
# 2) sequence) => 1.1) string - collection of characters put inside a single quote or double quote.
#              1.2) list - it is collection of data where data types need not has to be same for ex :- list =[1,2,3,4,"ineuron"]
#              1.3)tuple - tuples are same like list but it cannot be manupulated or chnaged once it is created.
# 3) mapping) => 1.1) dictionary - dict is used to store values in key and value pairs which is ordered and can be changed but doesnt allow duplicate values,for ex dict = {"ineuron": "data science"}

In [16]:
# solution4)  an expression is a sequemce or combination of values, operators and functions that are combined and 
#interpreted by compiler to which results in creation of some value.
#for example :- a + b is an expression.

In [17]:
# solution5) an expression is a sequemce or combination of values, operators and functions that are combined and 
#interpreted by compiler to which results in creation of some value.

# whereas A statement is a line of executable code but its execution may or may not produce result.
#every statement can become an expression but expression can't become a statement.
# Example of statement : x = 3  print(x) Output : 3
#Example of expression :  a + 16 = 20

In [18]:
# solution 6) 
bacon = 22
bacon + 1

23

In [23]:
print(bacon)

22

In [24]:
#the variable bacon contains 22, the expression bacon + 1 didnt reassigned the value to bacon but if
#it was written in this (bacon = bacon + 1) in this way the answer would be 23.

In [25]:
bacon = bacon + 1

In [26]:
bacon

23

In [ ]:
# solution 7) the value of both the term is same. first expression does string concatination 
#and second one does string multiplication operation.

In [27]:
'spam' + 'spamspam'

'spamspamspam'

In [28]:
'spam'*3

'spamspamspam'

In [36]:
 #solution 8) The python rules for a variable are :-

#Variable name cant start with a number.
#Variable name can only contain alpha-numeric characters and underscores.
#Variable names are case-sensitive for exaple :- VINAY And vinay are diferent variable names.
#The reserved keywords already used cannot be reassigned.

In [41]:
#solution 10)
'I have eaten'+ 99 + 'burritos'
#it is causing an error because 99 is a int and we cannot perform concatiantion operation with str and int so in this 
#case 99 have to be typecasted to convert it into a string using single or double quote.

TypeError: can only concatenate str (not "int") to str

In [42]:
'I have eaten'+ str(99) + 'burritos'

'I have eaten99burritos'