In [1]:
#solution1) The sqaured brackets can be used to create lists and [] this empty brackets can be considered as empty list in which we can place elements of a variable seperated by commas.

In [31]:
#solution2)as list follows zero based indexing 'hello' will come after 6 on the 3rd index if we use insert function to 
#assign "hello" the 3rd index but we can also assign hello the 3rd index by replacing it with the value(8) that is on 3rd index. 
spam = [2, 4, 6, 8, 10] 
spam.insert(3,'hello')
print(spam)
spam = [2,4,6,8,10]
spam[3] = 'hello'
print(spam)

[2, 4, 6, 'hello', 8, 10]
[2, 4, 6, 'hello', 10]

In [35]:
#solution3)
spam = ['a','b','c','d']
spam[int(int('3'*2)/11)]
#in the above statement '3' is a string which is converted to int so '3'*2 gives 33 when divided by 11 gives 3 and spam[3] = 'd'.

'd'

In [41]:
#solution4) list enables us to take the value out of it whith negatie indexing as well which starts with -1 in a reverse order of the values. so the value of spam[-1] will be d. 
spam[-1]

'd'

In [47]:
#soluton5)the spam[:2] gives us all the values ranging from 0 to 2th index excluding the 2nd index.
spam[:2]

['a', 'b']

In [48]:
#solution6) 
bacon = [3.14, "cat", 11,"cat"," True"]
bacon.index('cat')

1

In [54]:
#solution7) the append function helps us to add any element to the end of a list.
bacon = [3.14, "cat", 11,"cat"," True"]
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', ' True', 99]

In [69]:
#soluton8) the remove function only removes the first occurence of the element that we wish to  remove 
bacon = [3.14, "cat", 11,"cat"," True"]
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', ' True']

In [77]:
#solution9) the list concatination joins the two or more list together to covert them in a single list
list1= ['a','b',"cat", "mouse"]
list2 = [1,2,3,"python","ineuron", 46.5]
print(list1 + list2)
#list replication uses the multiplication * operator to replicate the list as many number of times as we want
print(list1 * 3)

['a', 'b', 'cat', 'mouse', 1, 2, 3, 'python', 'ineuron', 46.5]
['a', 'b', 'cat', 'mouse', 'a', 'b', 'cat', 'mouse', 'a', 'b', 'cat', 'mouse']

In [86]:
#solution10) append enables us to add the element to the end of the list whereas through insert function we can add the values at any index we want for instance:-
list2
list2.append([1,2,3,4,5])
print(list2)
list2.insert(0,[1,2,3,4,5,6])
print(list2)

[1, 2, 3, 'python', 'ineuron', 46.5, [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]
[[1, 2, 3, 4, 5, 6], 1, 2, 3, 'python', 'ineuron', 46.5, [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [101]:
#solution11)the del function and remove() functions are used to eleminate values from the list
list2 = [1,2,3,"python","ineuron", 46.5]
print(list2)
del list2[0]
print(list2)
list2.remove('python')
print(list2)

[1, 2, 3, 'python', 'ineuron', 46.5]
[2, 3, 'python', 'ineuron', 46.5]
[2, 3, 'ineuron', 46.5]

In [103]:
#solution12)some of the simmilar properties of string and list are as follows:-
#12.1)list and string have positions that is known as index#
#12.2)in both string and list we can apply len() function to know the lenth of elements within them.
#12.3) both list and string can be concatenated and iterated through loop.

In [104]:
#solution13)13.1)tuples are enclosed within the () curved bracket whereas list is enclosed within the squared bracket.
#13.2)tuples are immutable whereas list is mutable.

In [109]:
#solution14)
tuple = (42)
print(type(tuple))
tuple = (42,)
print(type(tuple))

<class 'int'>
<class 'tuple'>

In [118]:
#solution15) we can get a  list value's tuple form and vice versa with the help of type casting
tuple2 = (1,2,3,4,5,"python","coding")
print(tuple2)
print(type(tuple2))
list(tuple2)
print(type(list(tuple2)))

(1, 2, 3, 4, 5, 'python', 'coding')
<class 'tuple'>
<class 'list'>

In [129]:
#solution16)variable that contains list values are not list themselves but they can be used to get the elements inside the list, in short they are references to the to the list values.
list2
print(list2)
#here list2 is a variable through which we have refered to the zero indexex that holds 2 as its value.
list2[0]

[2, 3, 'ineuron', 46.5]

2

In [197]:

#solution17
list10 = [1,2,3,4]
list20 = list10
print(list20)
list20[0] = 0
print(list20)
print(list10)
list20 = copy.copy(list10)
list20.append(0)
print(list20)
print(list10)

#we made list20 = list 10 so any changes made in the list 20 will affect the list 10 but if we want to copy the objects of
#list10 to list20 making list20 the complete independent object unaffected by the changes in list 10 then we can use copy.copy() function.

[1, 2, 3, 4]
[0, 2, 3, 4]
[0, 2, 3, 4]
[0, 2, 3, 4, 0]
[0, 2, 3, 4]

In [188]:
list20 = list10

[0, 2, 3, 4]